.title {
  font-family: Road UI;
  font-size: 101px;
  font-weight: 700;
  line-height: 98.98px;
  text-align: center;
}

.content {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 243px); /* 4 столбца с равной шириной */
  gap: 30px; /* промежуток между карточками */
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.showMoreContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 128px;
}
